<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Tell Apache Httpd to make all uris pointing to this file.
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
       
</IfModule>    
